html, body {
    margin:0;
    /* height:100%; */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

@font-face {
    font-family: 'ProximaNova';
    src: url("../fonts/ProximaNova-Black-webfont.woff") format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url("../fonts/ProximaNova-Bold-webfont.woff") format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url("../fonts/ProximaNova-Sbold-webfont.woff") format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url("../fonts/ProximaNova-Reg-webfont.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url("../fonts/ProximaNova-Light-webfont.woff") format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url("../fonts/ProximaNova-Thin-webfont.woff") format('woff');
    font-weight: 100;
    font-style: normal;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  /*background:linear-gradient(to right, #dc8e20 0%,#e72a7e 100%);  orange to pink */
  /*background:linear-gradient(128deg, #2E9BFF 0%, #1FE6DF 100%);  blue to light blue */
  /*background:linear-gradient(128deg, #ff4036 0%, #ffb511 100%);  orange to yellow */
  /*background:linear-gradient(128deg, #8aba37 0%, #ddd427 100%);  green to yellow */
  /* background:linear-gradient(to right, rgb(174,58,152) 0%, rgb(206,57,98) 100%); */ /* blue to pink *//*linear-gradient(128deg, #E11F5C 0%, #B62AA1 100%)*/
  background:linear-gradient(128deg, #AE2727 40%, green 60%);  /* green to yellow */
}

.recommendations {
    margin: 2em auto;
    box-shadow: 0 0 0 1px rgba(89,105,128,0.08), 0 2px 3px 0 rgba(89,105,128,.1), 0 2px 2px 0 rgba(0,0,0,.05);
    padding: 1em 1em;
    border-radius: 3px;
    max-width: 880px;
}
.recommendations h3 {
    color: #596981;
    font-size:12px;
    margin-left:1em;
    margin-right:1em;
    text-transform:uppercase;
    margin-bottom:0;
}
.recommendations ul {
    margin-top:0.5em;
    margin-left: 0px;
    padding-left: 1em;
}
.recommendations ul li {
    color: #596981;
    list-style: none;
    padding-left: 2em;
    line-height: 1.75em;
    background-position-y: 0.25em;
}
.recommendations ul li.warning {
    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZjQwMzYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLWFsZXJ0LWNpcmNsZSI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMTAiPjwvY2lyY2xlPjxsaW5lIHgxPSIxMiIgeTE9IjgiIHgyPSIxMiIgeTI9IjEyIj48L2xpbmU+PGxpbmUgeDE9IjEyIiB5MT0iMTYiIHgyPSIxMiIgeTI9IjE2Ij48L2xpbmU+PC9zdmc+);
    background-repeat:no-repeat;
}
.recommendations ul li.error {
    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9InJnYigyMDYsNTcsOTgpIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9ImZlYXRoZXIgZmVhdGhlci1hbGVydC10cmlhbmdsZSI+PHBhdGggZD0iTTEwLjI5IDMuODZMMS44MiAxOGEyIDIgMCAwIDAgMS43MSAzaDE2Ljk0YTIgMiAwIDAgMCAxLjcxLTNMMTMuNzEgMy44NmEyIDIgMCAwIDAtMy40MiAweiI+PC9wYXRoPjxsaW5lIHgxPSIxMiIgeTE9IjkiIHgyPSIxMiIgeTI9IjEzIj48L2xpbmU+PGxpbmUgeDE9IjEyIiB5MT0iMTciIHgyPSIxMiIgeTI9IjE3Ij48L2xpbmU+PC9zdmc+);
    background-repeat:no-repeat;
}
.recommendations ul li.recommendation {
    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM1OTY5ODEiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLW1lc3NhZ2UtY2lyY2xlIj48cGF0aCBkPSJNMjEgMTEuNWE4LjM4IDguMzggMCAwIDEtLjkgMy44IDguNSA4LjUgMCAwIDEtNy42IDQuNyA4LjM4IDguMzggMCAwIDEtMy44LS45TDMgMjFsMS45LTUuN2E4LjM4IDguMzggMCAwIDEtLjktMy44IDguNSA4LjUgMCAwIDEgNC43LTcuNiA4LjM4IDguMzggMCAwIDEgMy44LS45aC41YTguNDggOC40OCAwIDAgMSA4IDh2LjV6Ij48L3BhdGg+PC9zdmc+);
    background-repeat:no-repeat;
}
.internal {
    background-color:white;
    padding:75px 150px;
    border-radius: 5px;
}


.recharts-legend-item-text{
    color: #596981;
    text-transform: uppercase;
    font-size: 11px;
    vertical-align: middle;
}
#app, #app > div {
    height:100%;
}






  
  .lightrope {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin: -15px 0 0 0;
    padding: 0;
    pointer-events: none;
    width: 100%;
    top: 53px;
    left: 0px;
  }
  .lightrope li {
    position: relative;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 12px;
    height: 28px;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
    background: #00f7a5;
    box-shadow: 0px 4.6666666667px 24px 3px #00f7a5;
    -webkit-animation-name: flash-1;
            animation-name: flash-1;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  .lightrope li:nth-child(2n+1) {
    background: cyan;
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.5);
    -webkit-animation-name: flash-2;
            animation-name: flash-2;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
  }
  .lightrope li:nth-child(4n+2) {
    background: #f70094;
    box-shadow: 0px 4.6666666667px 24px 3px #f70094;
    -webkit-animation-name: flash-3;
            animation-name: flash-3;
    -webkit-animation-duration: 1.1s;
            animation-duration: 1.1s;
  }
  .lightrope li:nth-child(odd) {
    -webkit-animation-duration: 1.8s;
            animation-duration: 1.8s;
  }
  .lightrope li:nth-child(3n+1) {
    -webkit-animation-duration: 1.4s;
            animation-duration: 1.4s;
  }
  .lightrope li:before {
    content: "";
    position: absolute;
    background: #222;
    width: 10px;
    height: 9.3333333333px;
    border-radius: 3px;
    top: -4.6666666667px;
    left: 1px;
  }
  .lightrope li:after {
    content: "";
    top: -14px;
    left: 9px;
    position: absolute;
    width: 52px;
    height: 18.6666666667px;
    border-bottom: solid #222 2px;
    border-radius: 50%;
  }
  .lightrope li:last-child:after {
    content: none;
  }
  .lightrope li:first-child {
    margin-left: -40px;
  }
  
  @-webkit-keyframes flash-1 {
    0%, 100% {
      background: #00f7a5;
      box-shadow: 0px 4.6666666667px 24px 3px #00f7a5;
    }
    50% {
      background: rgba(0, 247, 165, 0.4);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2);
    }
  }
  
  @keyframes flash-1 {
    0%, 100% {
      background: #00f7a5;
      box-shadow: 0px 4.6666666667px 24px 3px #00f7a5;
    }
    50% {
      background: rgba(0, 247, 165, 0.4);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2);
    }
  }
  @-webkit-keyframes flash-2 {
    0%, 100% {
      background: cyan;
      box-shadow: 0px 4.6666666667px 24px 3px cyan;
    }
    50% {
      background: rgba(0, 255, 255, 0.4);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.2);
    }
  }
  @keyframes flash-2 {
    0%, 100% {
      background: cyan;
      box-shadow: 0px 4.6666666667px 24px 3px cyan;
    }
    50% {
      background: rgba(0, 255, 255, 0.4);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.2);
    }
  }
  @-webkit-keyframes flash-3 {
    0%, 100% {
      background: #f70094;
      box-shadow: 0px 4.6666666667px 24px 3px #f70094;
    }
    50% {
      background: rgba(247, 0, 148, 0.4);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2);
    }
  }
  @keyframes flash-3 {
    0%, 100% {
      background: #f70094;
      box-shadow: 0px 4.6666666667px 24px 3px #f70094;
    }
    50% {
      background: rgba(247, 0, 148, 0.4);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2);
    }
  }
  